
h1, p{
	margin:0;
	padding: 0;
}

h1{
	padding-bottom: .25em;
	color: rosybrown4;	
}
ul{
	background-color: lightgrey;
    width: 300px;
    border: 5px rosybrown4;
    padding: 0;
    margin: 0;
}
h2{
	font-family: Verdana; 
	font-size: 10px;
}
body{
	margin: 0 auto;
}

